* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

.body__container {
  margin: 0 auto;
}
