.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  height: 100%;  
}

.body__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}
