.category {
  padding: 95px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .category__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 468px) {
  .category__container {
    grid-template-columns: repeat(1, 1fr);
  }
}