.color-scheme-button__real {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.color-scheme-button {
  align-self: flex-start;
}

.color-scheme-button__custom {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s linear;
}

.color-scheme-button__custom:hover {
  background-color: var(--bg-color-hover);
}

.color-scheme-button__custom::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../image/icon-sun.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease-in-out;
}

.color-scheme-button__real:checked + .color-scheme-button__custom::before {
  background-image: url(../image/icon-moon.svg);
}
