.modal {
  max-width: 500px;
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-color-form);
  border-radius: 10px;
}

.modal__title {
  font-weight: 700;
  font-size: 22px;
  color: var(--form-text-color);
}

.modal__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal__input {
  flex-grow: 0;
  margin: 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--form-border-color);
  min-width: 50px;
  max-width: 100px;
}

.modal__radio-buttons {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal__radio-button {
  display: flex;
  gap: 5px;
  align-items: center;
}

.modal__color-block {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--form-border-color);
}

.modal__color-block_color_red {
  background-color: #FF0000;
}

.modal__color-block_color_green {
  background-color: #008000;
}

.modal__color-block_color_yellow {
  background-color: #FFFF00;
}

.modal__textarea {
  padding: 10px;
  resize: vertical;
  width: 100%;
  font-family: inherit;
  min-height: 200px;
}

.modal__button {
  margin: 0;
  border: 0;
}

.modal__button_type_submit {
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  color: var(--second-text-color);
  background-color: var(--accent-text-color);
  font-size: 18px;
}

.modal__button_type_close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../image/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}
