:root {
  --bg-color: #171717;
  --bg-color-burger: #ffffff;
  --bg-color-hover: #2e2d2d;
  --bg-color-product-card: #ffffff;

  --border-color: rgba(235, 235, 235, 0.2);
  --form-border-color: #c2c2c2;
  --box-shadow-color: rgba(148, 146, 146, 0.2);

  --main-text-color: #ffffff;
  --product-card-text-color: #171717;
  --second-text-color: #ffffff;
  --accent-text-color: #5d5fef;
}
