:root {
  --bg-color: #ffffff;
  --bg-color-hover: #f0efef;
  --bg-color-product-card: #ffffff;

  --border-color: rgba(0, 0, 0, 0.2);
  --box-shadow-color: rgba(0, 0, 0, 0.2);

  --main-text-color: #171717;
  --second-text-color: #ffffff;
  --accent-text-color: #5d5fef;
}
