:root {
  --bg-color: #ffffff;
  --bg-color-overlay: rgba(112, 112, 112, 0.4);
  --bg-color-hover: #f0efef;
  --bg-color-product-card: #ffffff;

  --border-color: #c2c2c2;
  --box-shadow-color: #c2c2c2;

  --main-text-color: #171717;
  --second-text-color: #ffffff;
  --accent-text-color: #5d5fef;
}
